# //////////////////////////////////////////
# DATABASE
# //////////////////////////////////////////
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=AllMarketDb
DB_CONNECTION=Host=postgres;Port=5432;Database=AllMarketDb;Username=postgres;Password=your_password

# //////////////////////////////////////////
# JWT
# //////////////////////////////////////////
JWT__SECRETKEY=super_secret_key_minimum_32_character
JWT__ISSUER=AllMarketAPI
JWT__AUDIENCE=AllMarketClient
JWT__EXPIRATIONMINUTES=60
JWT__REFRESHTOKENEXPIRATIONDAYS=7

# //////////////////////////////////////////
# CORS
# //////////////////////////////////////////
Cors__AllowedOrigins__0=http://localhost:3000

# //////////////////////////////////////////
# STRIPE
# //////////////////////////////////////////
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
FRONTEND_URL=http://localhost:3000

# //////////////////////////////////////////
# NGROK
# //////////////////////////////////////////
NGROK_AUTHTOKEN=your_ngrok_authtoken
NGROK_DOMAIN=your-domain.ngrok-free.dev

# //////////////////////////////////////////
# CLOUDINARY
# //////////////////////////////////////////
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<your_cloudinary_name>

# //////////////////////////////////////////
# Brevo (EMAILS)
# //////////////////////////////////////////
BREVO_API_KEY=...
BREVO_SENDER_EMAIL=...
BREVO_SENDER_NAME=AllMarket