# //////////////////////////////////////////
# DATABASE
# //////////////////////////////////////////
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=AllMarketDb
DB_CONNECTION=Host=postgres;Port=5432;Database=AllMarketDb;Username=postgres;Password=your_password

# //////////////////////////////////////////
# JWT
# //////////////////////////////////////////
JWT__SECRETKEY=super_secret_key_minimum_32_character
JWT__ISSUER=AllMarketAPI
JWT__AUDIENCE=AllMarketClient
JWT__EXPIRATIONMINUTES=60

# //////////////////////////////////////////
# CORS
# //////////////////////////////////////////
Cors__AllowedOrigins__0=http://localhost:3000