# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo

# Logs
*.log

# Local development settings
appsettings.Development.json
.env

# IDE folders
.vs/
.vscode/
.idea/

# AI Agents
skills-lock.json
.agents
COMMIT_GUIDE.md